[package]
name = "stag"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ndarray = "0.15.3"
ndarray-rand = "0.14.0"
rand = "0.8.5"
rand_distr = "0.4.3"